<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995074571450-9v1g0fa2d0gjgi680bfmukmdioc36p79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995074571450-9v1g0fa2d0gjgi680bfmukmdioc36p79</string>
	<key>API_KEY</key>
	<string>AIzaSyCNqsR6fpOcYqAqIK20gOAtrpXmX4mhmhY</string>
	<key>GCM_SENDER_ID</key>
	<string>995074571450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.modular.login</string>
	<key>PROJECT_ID</key>
	<string>modularlogin-94fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>modularlogin-94fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995074571450:ios:511d58d9aa41477e235683</string>
</dict>
</plist>